.foot {
	height: 372px;
	width: 1440px;
	display: flex;
	flex-direction: row;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	border-bottom: 1px solid rgba(31, 32, 65, 0.25);
}
.logo-foot {
	margin-top: 100px;
	margin-left: 140px;
	max-width: 260px;
	margin-right: 40px;
	p {
		vertical-align: left;
		font-size: 14px;
		line-height: 24px;
		max-height: 96px;
		color: rgba(31, 32, 65, 0.75);
	}
	
}
.logo-foot-img {
	background: url('../img/headerAndfoot/Logo.png') no-repeat;
	width: 106px;
	height: 40px;
	margin-bottom: 18px;
}
.section-foot {
	margin-top: 104px;
	width: 200px;
	p {
		font-weight: bold;
		font-size: 12px;
		text-transform: uppercase;
		line-height: 15px;
		margin-bottom: 21px;
		color: #1F2041;
	}
	ul {
		margin-left: -40px;
	}
	li {
    	list-style-type: none;
		margin-bottom: 20px;
		a {
			text-decoration: none;
			color: rgba(31, 32, 65, 0.5);
			font-size: 14px;
			line-height: 17px;
		}
	}
	&:last-child {
		p {
			width: 260px;
		}
	}
	label {
		height: 44px;
		padding: 0;
		border: none;
		width: 260px;
		input {
			border: 1px solid rgba(31, 32, 65, 0.25);
			border-radius: 4px;
			max-width: 216px;
			color: rgba(31, 32, 65, 0.25);
			font-size: 14px;
			line-height: 24px;
			padding: 12px 67px 8px 15px;
		}
			
	}
}
#section-foot-p {
	margin-top: -3px;
	width: 200px;
	font-size: 14px;
	line-height: 24px;
	font-weight: normal;
	color:rgba(31, 32, 65, 0.75);
	margin-bottom: 20px;
	text-transform: none;
}

.basement {
	max-width: 1440px;
	max-height: 70px;
	padding-left: 140px;
	padding-right: 140px;
	p {
		margin-top: 26px;
		float: left;
		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 17px;
		color:  rgba(31, 32, 65, 0.75);
	}
	.basement-communication {
		float: right;
		margin-top: 23px;
		color: rgba(31, 32, 65, 0.75);
		display: flex;
		flex-direction: row;
		.basement-icon {
			text-decoration: none;
			width: 24px;
			height: 24px;
			margin-left: 20px;
			border: none;
			background: url('../img/headerAndfoot/socialicon.png') no-repeat;
			&:last-child {
				background-position: -86px 0px;
			}
			&:nth-child(2) {
				background-position: -48px 0px;
			}
		}
	}
}